h1 {
  text-transform: uppercase;
}

.ul-sections {
  text-transform: uppercase;
}

.ul-sections li a {
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.ul-sections li a:hover,
.ul-sections li a:focus {
  -webkit-transition: 250ms ease-out;
  -moz-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.panel.panel-news-unit.panel-news-unit-small {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.0),
      rgba(0, 0, 0, 0.6)
    ),
    url(/images/filler-640x480-1.jpg);
  background-size: cover;
}

.panel.panel-news-unit.panel-news-unit-small h2 {
  color: white;
}
