---
title: "Courses"
layout: main

switchFillers: false
switchCoursesMulticol: false

imageHeader: "photo_bg-cover-courses.jpg"

dataShortCoursesSAMPLE:
 - id: "aspnet"
   categoryId: "networktech"   #string
   days: "Three (3)"                 #string format = [stringNumber] ([intNumber])
   day: "Sunday"                  #string
   timeStart: "9 AM"                #string format = [intTime] [AM/PM]
   timeEnd: "5 PM"                  #string format = [intTime] [AM/PM]
   dateStart: "April 23, 2017"     #string format = [stringMonth] [intDay], [intYear]
   dateEnd: "May 3, 2017"      #string format = [stringMonth] [intDay], [intYear]
   rateRegular: "9,000"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "4,500"    #double with commas and 2 decimal places
   rateEarlyIndusCorpo: "6,300"          #double with commas and 2 decimal places

dataLastUpdated: "2017/10/28 2:30 AM"

dataShortCoursesOthers:
 - id: "cprog"   #string
   status: "pending"             # "pending" or "confirmed" or "ongoing" or "postponed" or "cancelled"
   days: "Five (5)"                 #string format = [stringNumber] ([intNumber])
   day: "Sunday"                  #string
   timeStart: "9 AM"                #string format = [intTime] [AM/PM]
   timeEnd: "5 PM"                  #string format = [intTime] [AM/PM]
   dateStart: "November 5"     #string format = [stringMonth] [intDay], [intYear]
   dateEnd: "December 3, 2017"      #string format = [stringMonth] [intDay], [intYear]
   rateRegular: "14,000"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "7,000"    #double with commas and 2 decimal places
   rateEarlyIndusCorpo: "9,800" #double with commas and 2 decimal places
 - id: "cppprog"        #string
   status: "pending"             # "pending" or "confirmed" or "ongoing" or "postponed" or "cancelled"
   days: "Five (5)"                 #string format = [stringNumber] ([intNumber])
   day: "Saturday"                  #string
   timeStart: "9 AM"                #string format = [intTime] [AM/PM]
   timeEnd: "5 PM"                  #string format = [intTime] [AM/PM]
   dateStart: "November 11"     #string format = [stringMonth] [intDay], [intYear]
   dateEnd: "December 9, 2017"      #string format = [stringMonth] [intDay], [intYear]
   rateRegular: "14,000"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "7,000"    #double with commas and 2 decimal places
   rateEarlyIndusCorpo: "9,800" #double with commas and 2 decimal places
 - id: "vbnet"          #string
   status: "pending"             # "pending" or "confirmed" or "ongoing" or "postponed" or "cancelled"
   days: "Five (5)"                 #string format = [stringNumber] ([intNumber])
   day: "Saturday"                  #string
   timeStart: "9 AM"                #string format = [intTime] [AM/PM]
   timeEnd: "5 PM"                  #string format = [intTime] [AM/PM]
   dateStart: "November 4"     #string format = [stringMonth] [intDay], [intYear]
   dateEnd: "December 2, 2017"      #string format = [stringMonth] [intDay], [intYear]
   rateRegular: "14,000"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "7,000"    #double with commas and 2 decimal places
   rateEarlyIndusCorpo: "9,800" #double with commas and 2 decimal places
 - id: "csharpprog"          #string
   status: "pending"             # "pending" or "confirmed" or "ongoing" or "postponed" or "cancelled"
   days: "Five (5)"                 #string format = [stringNumber] ([intNumber])
   day: "Sunday"                  #string
   timeStart: "9 AM"                #string format = [intTime] [AM/PM]
   timeEnd: "5 PM"                  #string format = [intTime] [AM/PM]
   dateStart: "November 12"     #string format = [stringMonth] [intDay], [intYear]
   dateEnd: "December 10, 2017"      #string format = [stringMonth] [intDay], [intYear]
   rateRegular: "16,000"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "8,000"    #double with commas and 2 decimal places
   rateEarlyIndusCorpo: "11,200" #double with commas and 2 decimal places
 - id: "java1"          #string
   status: "confirmed"
   days: "Five (5)"                 #string format = [stringNumber] ([intNumber])
   day: "Saturday"                  #string
   timeStart: "9 AM"                #string format = [intTime] [AM/PM]
   timeEnd: "5 PM"                  #string format = [intTime] [AM/PM]
   dateStart: "November 11"     #string format = [stringMonth] [intDay], [intYear]
   dateEnd: "December 9, 2017"      #string format = [stringMonth] [intDay], [intYear]
   rateRegular: "14,000"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "7,000"    #double with commas and 2 decimal places
   rateEarlyIndusCorpo: "9,800" #double with commas and 2 decimal places
 - id: "java2"          #string
   status: "pending"             # "pending" or "confirmed" or "ongoing" or "postponed" or "cancelled"
   days: "Five (5)"                 #string format = [stringNumber] ([intNumber])
   day: "Saturday"                  #string
   timeStart: "9 AM"                #string format = [intTime] [AM/PM]
   timeEnd: "5 PM"                  #string format = [intTime] [AM/PM]
   dateStart: "November 11"     #string format = [stringMonth] [intDay], [intYear]
   dateEnd: "December 9, 2017"      #string format = [stringMonth] [intDay], [intYear]
   rateRegular: "14,000"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "7,000"    #double with commas and 2 decimal places
   rateEarlyIndusCorpo: "9,200" #double with commas and 2 decimal places
 - id: "javaee"          #string
   status: "pending"             # "pending" or "confirmed" or "ongoing" or "postponed" or "cancelled"
   days: "Five (5)"                 #string format = [stringNumber] ([intNumber])
   day: "Sunday"                  #string
   timeStart: "9 AM"                #string format = [intTime] [AM/PM]
   timeEnd: "5 PM"                  #string format = [intTime] [AM/PM]
   dateStart: "November 5"     #string format = [stringMonth] [intDay], [intYear]
   dateEnd: "December 3, 2017"      #string format = [stringMonth] [intDay], [intYear]
   rateRegular: "16,000"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "8,000"    #double with commas and 2 decimal places
   rateEarlyIndusCorpo: "11,200" #double with commas and 2 decimal places
 - id: "python"          #string
   status: "pending"             # "pending" or "confirmed" or "ongoing" or "postponed" or "cancelled"
   days: "Five (5)"                 #string format = [stringNumber] ([intNumber])
   day: "Sunday"                  #string
   timeStart: "9 AM"                #string format = [intTime] [AM/PM]
   timeEnd: "5 PM"                  #string format = [intTime] [AM/PM]
   dateStart: "November 19"     #string format = [stringMonth] [intDay], [intYear]
   dateEnd: "December 17, 2017"      #string format = [stringMonth] [intDay], [intYear]
   rateRegular: "14,000"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "7,000"    #double with commas and 2 decimal places
   rateEarlyIndusCorpo: "9,800" #double with commas and 2 decimal places
 - id: "android"
   status: "pending"             # "pending" or "confirmed" or "ongoing" or "postponed" or "cancelled"
   days: "Three (3)"                 #string format = [stringNumber] ([intNumber])
   day: "Sunday"                  #string
   timeStart: "9 AM"                #string format = [intTime] [AM/PM]
   timeEnd: "5 PM"                  #string format = [intTime] [AM/PM]
   dateStart: "November 19"     #string format = [stringMonth] [intDay], [intYear]
   dateEnd: "December 3, 2017"      #string format = [stringMonth] [intDay], [intYear]
   rateRegular: "9,000"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "4,500"    #double with commas and 2 decimal places
   rateEarlyIndusCorpo: "6,300"          #double with commas and 2 decimal places
 - id: "ios"             #string
   status: "pending"             # "pending" or "confirmed" or "ongoing" or "postponed" or "cancelled"
   days: "Five (5)"                 #string format = [stringNumber] ([intNumber])
   day: "Sunday"                  #string
   timeStart: "9 AM"                #string format = [intTime] [AM/PM]
   timeEnd: "5 PM"                  #string format = [intTime] [AM/PM]
   rateRegular: "18,000"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "9,000"    #double with commas and 2 decimal places
   rateEarlyIndusCorpo: "12,600" #double with commas and 2 decimal places
 - id: "sengg"          #string
   status: "pending"             # "pending" or "confirmed" or "ongoing" or "postponed" or "cancelled"
   days: "Five (5)"                 #string format = [stringNumber] ([intNumber])
   day: "Sunday"                  #string
   timeStart: "9 AM"                #string format = [intTime] [AM/PM]
   timeEnd: "5 PM"                  #string format = [intTime] [AM/PM]
   rateRegular: "18,000"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "9,000"    #double with commas and 2 decimal places
   rateEarlyIndusCorpo: "12,600" #double with commas and 2 decimal places
 - id: "stesting"          #string
   status: "pending"             # "pending" or "confirmed" or "ongoing" or "postponed" or "cancelled"
   days: "Five (5)"                 #string format = [stringNumber] ([intNumber])
   day: "Saturday"                  #string
   timeStart: "9 AM"                #string format = [intTime] [AM/PM]
   timeEnd: "5 PM"                  #string format = [intTime] [AM/PM]
   rateRegular: "18,000"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "9,000"    #double with commas and 2 decimal places
   rateEarlyIndusCorpo: "12,600" #double with commas and 2 decimal places
 - id: "sqa"          #string
   status: "pending"             # "pending" or "confirmed" or "ongoing" or "postponed" or "cancelled"
   days: "Five (5)"                 #string format = [stringNumber] ([intNumber])
   day: "Sunday"                  #string
   timeStart: "9 AM"                #string format = [intTime] [AM/PM]
   timeEnd: "5 PM"                  #string format = [intTime] [AM/PM]
   dateStart: "November 12"     #string format = [stringMonth] [intDay], [intYear]
   dateEnd: "December 10, 2017"      #string format = [stringMonth] [intDay], [intYear]
   rateRegular: "18,000"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "9,000"    #double with commas and 2 decimal places
   rateEarlyIndusCorpo: "12,600" #double with commas and 2 decimal places
 - id: "aspnet"          #string
   status: "pending"             # "pending" or "confirmed" or "ongoing" or "postponed" or "cancelled"
   days: "Five (5)"                 #string format = [stringNumber] ([intNumber])
   day: "Sunwebday"                  #string
   timeStart: "9 AM"                #string format = [intTime] [AM/PM]
   timeEnd: "5 PM"                  #string format = [intTime] [AM/PM]
   dateStart: "November 12"     #string format = [stringMonth] [intDay], [intYear]
   dateEnd: "December 10, 2017"      #string format = [stringMonth] [intDay], [intYear]
   rateRegular: "14,000"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "7,000"    #double with commas and 2 decimal places
   rateEarlyIndusCorpo: "9,800" #double with commas and 2 decimal places
 - id: "webdev"          #string
   status: "pending"             # "pending"/"confirmed"/"ongoing"/"postponed"/"cancelled"
   days: "Five (5)"                 #string format = [stringNumber] ([intNumber])
   day: "Sunday"                  #string
   timeStart: "9 AM"                #string format = [intTime] [AM/PM]
   timeEnd: "5 PM"                  #string format = [intTime] [AM/PM]
   dateStart: "November 19"     #string format = [stringMonth] [intDay], [intYear]
   dateEnd: "December 17, 2017"      #string format = [stringMonth] [intDay], [intYear]
   rateRegular: "14,000"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "7,000"    #double with commas and 2 decimal places
   rateEarlyIndusCorpo: "9,800" #double with commas and 2 decimal places
 - id: "phpmysqlfund"          #string
   status: "pending"             # "pending" or "confirmed" or "ongoing" or "postponed" or "cancelled"
   days: "Five (5)"                 #string format = [stringNumber] ([intNumber])
   day: "Sunday"                  #string
   timeStart: "9 AM"                #string format = [intTime] [AM/PM]
   timeEnd: "5 PM"                  #string format = [intTime] [AM/PM]
   dateStart: "November 5"     #string format = [stringMonth] [intDay], [intYear]
   dateEnd: "December 3, 2017"      #string format = [stringMonth] [intDay], [intYear]
   rateRegular: "16,000"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "8,000"      #double with commas and 2 decimal places
   rateEarlyIndusCorpo: "11,200" #double with commas and 2 decimal places
 - id: "phpmysqladv"          #string
   status: "pending"             # "pending" or "confirmed" or "ongoing" or "postponed" or "cancelled"
   days: "Five (5)"                 #string format = [stringNumber] ([intNumber])
   day: "Saturday"                  #string
   timeStart: "9 AM"                #string format = [intTime] [AM/PM]
   timeEnd: "5 PM"                  #string format = [intTime] [AM/PM]
   rateRegular: "16,000"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "8,000"    #double with commas and 2 decimal places
   rateEarlyIndusCorpo: "11,200" #double with commas and 2 decimal places
 - id: "websec"                     #string
   status: "techies"             # "pending" or "confirmed" or "ongoing" or "postponed" or "cancelled"
   days: "Three (3)"                 #string format = [stringNumber] ([intNumber])
   day: "Sunday"                  #string
   timeStart: "9 AM"                #string format = [intTime] [AM/PM]
   timeEnd: "5 PM"                  #string format = [intTime] [AM/PM]
   dateStart: "November 26"     #string format = [stringMonth] [intDay], [intYear]
   dateEnd: "December 10, 2017"      #string format = [stringMonth] [intDay], [intYear]
   rateRegular: "15,000"         #double with commas and 2 decimal places
   rateRegularAcadGov: "12,500"         #double with commas and 2 decimal places
 - id: "seo"          #string
   status: "pending"             # "pending" or "confirmed" or "ongoing" or "postponed" or "cancelled"
   rateRegular: "14,000"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "7,000"    #double with commas and 2 decimal places
   rateEarlyIndusCorpo: "9,800" #double with commas and 2 decimal places
 - id: "dbs"
   status: "confirmed"             # "pending" or "confirmed" or "ongoing" or "postponed" or "cancelled"
   days: "Five (5)"                 #string format = [stringNumber] ([intNumber])
   day: "Sunday"                  #string
   timeStart: "9 AM"                #string format = [intTime] [AM/PM]
   timeEnd: "5 PM"                  #string format = [intTime] [AM/PM]
   dateStart: "November 5"     #string format = [stringMonth] [intDay], [intYear]
   dateEnd: "December 3, 2017"      #string format = [stringMonth] [intDay], [intYear]
   rateRegular: "14,000"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "7,000"    #double with commas and 2 decimal places
   rateEarlyIndusCorpo: "9,800" #double with commas and 2 decimal places
 - id: "oraclesql"          #string
   status: "pending"             # "pending" or "confirmed" or "ongoing" or "postponed" or "cancelled"
   days: "Five (5)"                 #string format = [stringNumber] ([intNumber])
   day: "Sunday"                  #string
   timeStart: "9 AM"                #string format = [intTime] [AM/PM]
   timeEnd: "5 PM"                  #string format = [intTime] [AM/PM]
   dateStart: "November 12"     #string format = [stringMonth] [intDay], [intYear]
   dateEnd: "December 10, 2017"      #string format = [stringMonth] [intDay], [intYear]
   rateRegular: "16,000"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "8,000"    #double with commas and 2 decimal places
   rateEarlyIndusCorpo: "11,200" #double with commas and 2 decimal places
 - id: "oracleplsql"          #string
   status: "pending"             # "pending" or "confirmed" or "ongoing" or "postponed" or "cancelled"
   days: "Five (5)"                 #string format = [stringNumber] ([intNumber])
   day: "Sunday"                  #string
   timeStart: "9 AM"                #string format = [intTime] [AM/PM]
   timeEnd: "5 PM"                  #string format = [intTime] [AM/PM]
   rateRegular: "20,000"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "10,000"    #double with commas and 2 decimal places
   rateEarlyIndusCorpo: "14,000" #double with commas and 2 decimal places
 - id: "ccna1"          #string
   status: "pending"
   days: "Ten (10)"                 #string format = [stringNumber] ([intNumber])
   day: "Sunday"                  #string
   timeStart: "9 AM"                #string format = [intTime] [AM/PM]
   timeEnd: "5 PM"                  #string format = [intTime] [AM/PM]
   dateStart: "November 12, 2017"     #string format = [stringMonth] [intDay], [intYear]
   dateEnd: "January 28, 2018"      #string format = [stringMonth] [intDay], [intYear]
   rateRegular: "24,000"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "12,000"    #double with commas and 2 decimal places
   rateEarlyIndusCorpo: "16,800" #double with commas and 2 decimal places
 - id: "ccna2"          #string
   status: "pending"             # "pending" or "confirmed" or "ongoing" or "postponed" or "cancelled"
   days: "Ten (10)"                 #string format = [stringNumber] ([intNumber])
   day: "Sunday"                  #string
   timeStart: "9 AM"                #string format = [intTime] [AM/PM]
   timeEnd: "5 PM"                  #string format = [intTime] [AM/PM]
   dateStart: "November 12, 2017"     #string format = [stringMonth] [intDay], [intYear]
   dateEnd: "January 28, 2018"      #string format = [stringMonth] [intDay], [intYear]
   rateRegular: "24,000"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "12,000"    #double with commas and 2 decimal places
   rateEarlyIndusCorpo: "16,800" #double with commas and 2 decimal places
 - id: "ccna3"          #string
   status: "pending"             # "pending" or "confirmed" or "ongoing" or "postponed" or "cancelled"
   days: "Ten (10)"                 #string format = [stringNumber] ([intNumber])
   day: "Sunday"                  #string
   timeStart: "9 AM"                #string format = [intTime] [AM/PM]
   timeEnd: "5 PM"                  #string format = [intTime] [AM/PM]
   rateRegular: "24,000"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "12,000"    #double with commas and 2 decimal places
   rateEarlyIndusCorpo: "16,800" #double with commas and 2 decimal places
 - id: "ccna4"          #string
   status: "pending"             # "pending" or "confirmed" or "ongoing" or "postponed" or "cancelled"
   days: "Ten (10)"                 #string format = [stringNumber] ([intNumber])
   day: "Saturday"                  #string
   timeStart: "9 AM"                #string format = [intTime] [AM/PM]
   timeEnd: "5 PM"                  #string format = [intTime] [AM/PM]
   rateRegular: "24,000"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "12,000"    #double with commas and 2 decimal places
   rateEarlyIndusCorpo: "16,800" #double with commas and 2 decimal places
 - id: "linux101"          #string
   status: "pending"             # "pending" or "confirmed" or "ongoing" or "postponed" or "cancelled"
   days: "Five (5)"                 #string format = [stringNumber] ([intNumber])
   day: "Sunday"                  #string
   timeStart: "9 AM"                #string format = [intTime] [AM/PM]
   timeEnd: "5 PM"                  #string format = [intTime] [AM/PM]
   dateStart: "October 29"     #string format = [stringMonth] [intDay], [intYear]
   dateEnd: "November 26, 2017"      #string format = [stringMonth] [intDay], [intYear]
   rateRegular: "17,000"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "8,500"    #double with commas and 2 decimal places
   rateEarlyIndusCorpo: "11,900" #double with commas and 2 decimal places
 - id: "linux102"          #string
   status: "pending"             # "pending" or "confirmed" or "ongoing" or "postponed" or "cancelled"
   days: "Five (5)"                 #string format = [stringNumber] ([intNumber])
   day: "Sunday"                  #string
   timeStart: "9 AM"                #string format = [intTime] [AM/PM]
   timeEnd: "5 PM"                  #string format = [intTime] [AM/PM]
   dateStart: "November 19"     #string format = [stringMonth] [intDay], [intYear]
   dateEnd: "December 17, 2017"      #string format = [stringMonth] [intDay], [intYear]
   rateRegular: "17,000"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "8,500"    #double with commas and 2 decimal places
   rateEarlyIndusCorpo: "11,900" #double with commas and 2 decimal places
 - id: "linux201"          #string
   status: "pending"             # "pending" or "confirmed" or "ongoing" or "postponed" or "cancelled"
   rateRegular: "17,000"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "8,500"    #double with commas and 2 decimal places
   rateEarlyIndusCorpo: "11,900" #double with commas and 2 decimal places
 - id: "linux202"          #string
   status: "pending"             # "pending" or "confirmed" or "ongoing" or "postponed" or "cancelled"
   rateRegular: "17,000"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "8,500"    #double with commas and 2 decimal places
   rateEarlyIndusCorpo: "11,900" #double with commas and 2 decimal places
 - id: "itsec"          #string
   status: "pending"             # "pending" or "confirmed" or "ongoing" or "postponed" or "cancelled"
   days: "Five (5)"                 #string format = [stringNumber] ([intNumber])
   day: "Sunday"                  #string
   timeStart: "9 AM"                #string format = [intTime] [AM/PM]
   timeEnd: "5 PM"                  #string format = [intTime] [AM/PM]
   dateStart: "November 19"     #string format = [stringMonth] [intDay], [intYear]
   dateEnd: "December 17, 2017"      #string format = [stringMonth] [intDay], [intYear]
   rateRegular: "14,000"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "7,000"    #double with commas and 2 decimal places
   rateEarlyIndusCorpo: "9,800" #double with commas and 2 decimal places
 - id: "itpm"          #string
   status: "confirmed"             # "pending" or "confirmed" or "ongoing" or "postponed" or "cancelled"
   days: "Five (5)"                 #string format = [stringNumber] ([intNumber])
   day: "Saturday"                  #string
   timeStart: "9 AM"                #string format = [intTime] [AM/PM]
   timeEnd: "5 PM"                  #string format = [intTime] [AM/PM]
   dateStart: "November 18"     #string format = [stringMonth] [intDay], [intYear]
   dateEnd: "December 16, 2017"      #string format = [stringMonth] [intDay], [intYear]
   rateRegular: "24,000"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "12,000"    #double with commas and 2 decimal places
   rateEarlyIndusCorpo: "16,800" #double with commas and 2 decimal places
 - id: "sad"          #string
   status: "pending"             # "pending" or "confirmed" or "ongoing" or "postponed" or "cancelled"
   days: "Five (5)"                 #string format = [stringNumber] ([intNumber])
   day: "Saturday"                  #string
   timeStart: "9 AM"                #string format = [intTime] [AM/PM]
   timeEnd: "5 PM"                  #string format = [intTime] [AM/PM]
   dateStart: "November 11"     #string format = [stringMonth] [intDay], [intYear]
   dateEnd: "December 9, 2017"      #string format = [stringMonth] [intDay], [intYear]
   rateRegular: "18,000"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "9,000"    #double with commas and 2 decimal places
   rateEarlyIndusCorpo: "12,600" #double with commas and 2 decimal places
 - id: "smtrading"
   status: "techies"             # "pending" or "confirmed" or "ongoing" or "postponed" or "cancelled"
   days: "Two (2)"                 #string format = [stringNumber] ([intNumber])
   day: "Saturday"                  #string
   timeStart: "9 AM"                #string format = [intTime] [AM/PM]
   timeEnd: "5 PM"                  #string format = [intTime] [AM/PM]
   dateStart: "November 4"     #string format = [stringMonth] [intDay], [intYear]
   dateEnd: "11, 2017"      #string format = [stringMonth] [intDay], [intYear]
   rateRegular: "7,500"         #double with commas and 2 decimal places


switchShortCoursesCategorize: true
dataCourseOfferings:
 - name: "Programming"
   id: "programming"
   list:
    - name: "C Programming"
      id: "cprog"
      icon: ""
      file: "UPSITF TCP Syllabus - C Programming.pdf"
    - name: "C++ Programming"
      id: "cppprog"
      icon: ""
      file: ""
    - name: "Introduction to Visual Basic .NET"
      id: "vbnet"
      icon: ""
      file: "UPSITF TCP Syllabus - Introduction to Visual Basic .NET.pdf"
    - name: "Introduction to C# Programming Using MS.NET"
      id: "csharpprog"
      icon: ""
      file: "UPSITF TCP Syllabus - Introduction to C Sharp Programming Using MS.NET.pdf"
    - name: "Introduction to Programming Using Java I (Basic)"
      id: "java1"
      icon: "art_icon-java-full.png"
      file: "UPSITF TCP Syllabus - Java 1.pdf"
    - name: "Introduction to Programming Using Java II (Intermediate)"
      id: "java2"
      icon: "art_icon-java-full.png"
      file: "UPSITF TCP Syllabus - Java 2.pdf"
    - name: "Java EE"
      id: "javaee"
      icon: ""
      file: "UPSITF TCP Syllabus - Java EE.pdf"
    - name: "Python (Integrated with Django Web Framework)"
      id: "python"
      icon: "art_icon-python-full.png"
      file: "UPSITF TCP Syllabus - Python.pdf"
 - name: "Software Development and Applications"
   id: "sda"
   list:
    - name: "Introduction to Android Applications"
      id: "android"
      icon: "art_icon-android-full.png"
      file: "UPSITF TCP Syllabus - Introduction to Android Applications.pdf"
    - name: "iOS Application Development"
      id: "ios"
      icon: ""
      file: "UPSITF TCP Syllabus - iOS Application Development.pdf"
    - name: "Software Engineering"
      id: "sengg"
      icon: ""
      file: "UPSITF TCP Syllabus - Software Engineering.pdf"
    - name: "Software Testing"
      id: "stesting"
      icon: ""
      file: "UPSITF TCP Syllabus - Software Testing.pdf"
    - name: "Software Quality Assurance (SQA)"
      id: "sqa"
      icon: ""
      file: "UPSITF TCP Syllabus - Software Quality Assurance.pdf"
 - name: "Web Technology"
   id: "webtech"
   list:
    - name: "Introduction to ASP.NET Programming"
      id: "aspnet"
      icon: ""
      file: "UPSITF TCP Syllabus - Introduction to ASP.NET Programming.pdf"
    - name: "Web Development Using HTML and CSS"
      id: "webdev"
      file: ""
      icon: "art_icon-webdev-full.png"
    - name: "PHP and MySQL Fundamentals"
      id: "phpmysqlfund"
      icon: "art_icon-phpmysql-full.png"
      file: "UPSITF TCP Syllabus - PHP and MySQL Fundamentals.pdf"
    - name: "Advanced PHP and MySQL"
      id: "phpmysqladv"
      icon: "art_icon-phpmysql-full.png"
      file: "UPSITF TCP Syllabus - Advanced PHP and MySQL.pdf"
    - name: "Web Application Security"
      id: "websec"
      icon: "art_icon-itsec-full.png"
      file: "UPSITF TCP Syllabus - Web Application IT Security.pdf"
    - name: "Search Engine Optimization (SEO)"
      id: "seo"
      icon: ""
      file: ""
 - name: "Database Technology"
   id: "dbtech"
   list:
    - name: "Introduction to Database Systems"
      id: "dbs"
      icon: "art_icon-db-full.png"
      file: "UPSITF TCP Syllabus - Introduction to Database Systems.pdf"
    - name: "Fundamentals of Oracle SQL"
      id: "oraclesql"
      icon: ""
      file: "UPSITF TCP Syllabus - Fundamentals of Oracle SQL.pdf"
    - name: "Introduction to Oracle PL/SQL"
      id: "oracleplsql"
      icon: ""
      file: "UPSITF TCP Syllabus - Introduction to Oracle PL SQL.pdf"
 - name: "Network Technology"
   id: "networktech"
   list:
    - name: "CCNA 1: Network Fundamentals"
      id: "ccna1"
      icon: "art_icon-ccna-full.png"
      file: "UPSITF TCP Syllabus - CCNA 1.pdf"
    - name: "CCNA 2: Routing Protocols and Concepts"
      id: "ccna2"
      icon: "art_icon-ccna-full.png"
      file: "UPSITF TCP Syllabus - CCNA 2.pdf"
    - name: "CCNA 3: LAN Switching and Wireless"
      id: "ccna3"
      icon: "art_icon-ccna-full.png"
      file: "UPSITF TCP Syllabus - CCNA 3.pdf"
    - name: "CCNA 4: Accessing the WAN"
      id: "ccna4"
      icon: "art_icon-ccna-full.png"
      file: "UPSITF TCP Syllabus - CCNA 4.pdf"
    - name: "Linux System Administration 101"
      id: "linux101"
      icon: ""
      file: "UPSITF TCP Syllabus - Linux System Administration 101.pdf"
    - name: "Linux System Administration 102"
      id: "linux102"
      icon: ""
      file: "UPSITF TCP Syllabus - Linux System Administration 102.pdf"
    - name: "Linux System Administration 201"
      id: "linux201"
      icon: ""
      file: "UPSITF TCP Syllabus - Linux System Administration 201.pdf"
    - name: "Linux System Administration 202"
      id: "linux202"
      icon: ""
      file: "UPSITF TCP Syllabus - Linux System Administration 202.pdf"
    - name: "IT Security Analysis"
      id: "itsec"
      icon: "art_icon-itsec-full.png"
      file: "UPSITF TCP Syllabus - IT Security Analysis.pdf"
 - name: "Business Processes"
   id: "busproc"
   list:
    - name: "IT Project Management"
      id: "itpm"
      icon: ""
      file: "UPSITF TCP Syllabus - IT Project Management.pdf"
 - name: "Systems Analysis and Design"
   id: "sad"
   list:
    - name: "Systems Analysis and Design (SAD)"
      id: "sad"
      icon: ""
      file: "UPSITF TCP Syllabus - System Analysis and Design.pdf"
 - name: "Special Courses"
   id: "special"
   list:
    - name: "Stock Market Trading Course: Technical Analysis"
      id: "smtrading"
      icon: ""
      file: ""

dataCourseOfferingsLegacy:
 - name: "Programming"
   id: "programming"
   list:
    - name: "Mobile Applications Using Java ME"
      id: "javame"
      file: ""
 - name: "Database Technology"
   id: "dbtech"
   list:
    - name: "MS Access 2007"
      id: "msaccess"
      file: ""
 - name: "Business Processes"
   id: "businessprocesses"
   list:
    - name: "Computer Literacy"
      id: "complit"
      file: ""
    - name: "Educational Technology 101"
      id: "edtech"
      file: ""

dataRegistration: 1

---


<section class="section-header" style="background-image:linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ),url('{{ site.baseurl }}/images/covers/{{ page.imageHeader }}')"><div class="container-fluid container-fluid-max"><div class="row"><div class="col-lg-12">

  <h1>Technical Course Programs</h1>

  <div class="row">
    <div class="col-lg-4 col-lg-push-8 col-md-4 col-md-push-8 col-sm-6 col-sm-push-6 col-xs-12 col-xs-push-0">
      <img>
    </div>
    <div class="col-lg-8 col-lg-pull-4 col-md-8 col-md-pull-4 col-sm-6 col-sm-pull-6 col-xs-12 col-xs-pull-0">
      <span class="span-copy">Position yourself for a brighter future.</span>
      <p>UPSITF offers a broad selection of short courses designed to provide
        you a working set of IT skills that are responsive to the demands of the
        ever-changing and developing IT industry.</p>
      <ul class="ul-sections">
        <li><a href="#schedules">Schedules &amp; Rates</a></li>
        <li><a href="#offerings">Course Offerings</a></li>
        <li><a href="#registration">Registration</a></li>
      </ul>
    </div>
  </div>

</div></div></div></section>

<section class="section-body">

  <section id="sectionSchedules">

    <!-- SECTION ID GOES HERE -->
    <a class="anchor" id="schedules"></a>

    <div class="container-fluid container-fluid-max"><div class="row">

      <div class="col-lg-12">
        <h2>Schedules &amp; Rates</h2>

      <!-- check if exists -->

        <h3>Confirmed Trainings</h3>

        {% if page.dataShortCoursesOthers %}{% if page.dataCourseOfferings %}

        {% for eachcategory in page.dataCourseOfferings %}{% for eachitemincategory in eachcategory.list %}{% for eachitem in page.dataShortCoursesOthers %}

        {% if eachitem.id == eachitemincategory.id and eachitem.status == "confirmed" %}

        {% capture thecycle %}{% cycle 'group1':'odd', 'even' %}{% endcapture %}
        
        {% if thecycle == 'odd' %}<div class="row">{% endif %}
        
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        {% include unit-shortcourse.html %}
        </div>

        {% if thecycle == 'even' %}</div>{% endif %}

        {% endif %}

        {% endfor %}{% endfor %}{% endfor %}

        {% if thecycle == 'odd' %}</div>{% endif %}


        {% endif %}{% endif %}

      <!-- end check if exists -->

      <!-- check if exists -->

        <h3>Techie's Choice and New Courses</h3>

        {% if page.dataShortCoursesOthers %}{% if page.dataCourseOfferings %}

        {% for eachcategory in page.dataCourseOfferings %}{% for eachitemincategory in eachcategory.list %}{% for eachitem in page.dataShortCoursesOthers %}

        {% if eachitem.id == eachitemincategory.id and eachitem.status == "techies" %}

        {% capture cycle %}{% cycle 'group2':'odd', 'even' %}{% endcapture %}
        
        {% if cycle == 'odd' %}<div class="row">{% endif %}
        
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        {% include unit-shortcourse.html %}
        </div>

        {% if cycle == 'even' %}</div>{% endif %}

        {% endif %}

        {% endfor %}{% endfor %}{% endfor %}

        {% if cycle == 'odd' %}</div>{% endif %}


        {% endif %}{% endif %}

      <!-- end check if exists -->



        <h3 style="margin-bottom:10px;">Other Course Schedules</h3>

        {% if page.dataShortCoursesOthers %}
        {% if page.dataCourseOfferings and page.switchShortCoursesCategorize %}


        {% for eachcategory in page.dataCourseOfferings %}

        {% assign exist = false %}
        {% for eachitem in page.dataShortCoursesOthers %}

        {% for eachitemincategory in eachcategory.list %}

        {% if eachitem.id == eachitemincategory.id and eachitem.status != "confirmed" and eachitem.status != "techies" %}
        {% assign exist = true %}
        {% break %}
        {% endif %}

        {% endfor %}

        {% if exist == true %}{% break %}{% endif %}
        {% endfor %}

        {% if exist == true %}
        {% assign found = false %}
        <!--div class="div-table-shortcourses"-->
        <table class="table-shortcourses">
          <thead>
            <tr><th></th><th></th><th></th><th></th></tr>
            <tr><th colspan="3"><h4>{{ eachcategory.name }}</h4></th><th><button class="btn btn-default">+</button></th></tr>
          </thead>
          <tbody style="display:none;">
            {% for eachitem in page.dataShortCoursesOthers %}

            {% for eachitemincategory in eachcategory.list %}
            {% if eachitem.id == eachitemincategory.id and eachitem.status != "confirmed" %}

            <tr>
              <td>
                {% if eachitemincategory.name %}<h5>{{ eachitemincategory.name }}</h5>{% endif %}
                {% if eachitemincategory.file and eachitemincategory.file != "" %}<a href="{{ site.baseurl }}/files/syllabus/{{ eachcategory.id }}/{{ eachitemincategory.file }}" target="_blank">View Syllabus</a>{% endif %}
              </td>
              <td>
                <span class="span-dates">
                {% if eachitem.dateStart or eachitem.dateEnd %}
                {% if eachitem.dateStart %}{{ eachitem.dateStart }}{% else %}TBA{% endif %}
                {% if eachitem.dateEnd %}to {{ eachitem.dateEnd }}{% else %}TBA{% endif %}
                {% if eachitem.ongoing and eachitem.ongoing == true %}<span class="span-dates-status">ONGOING</span>{% endif %}
                {% else %}
                Dates TBA
                {% endif %}

                {% if eachitem.days or eachitem.day or eachitem.timeStart or eachitem.timeEnd %}
                  <span class="span-dates-details">
                    {% if eachitem.days %}{{ eachitem.days }} day/s {% endif %}
                    {% if eachitem.day %}{% if eachitem.days %}- e{% else %}E{% endif %}very {{ eachitem.day }}{% endif %}
                    {% if eachitem.timeStart or eachitem.timeEnd %}
                    {% if eachitem.days or eachitem.day %}<br class="hidden-xs"/><span class="visible-xs visible-xs-inline"> | </span>{% endif %}
                    {% if eachitem.timeStart %}{{ eachitem.timeStart }}{% else %}TBA{% endif %}
                    {% if eachitem.timeEnd %}- {{ eachitem.timeEnd }}{% else %}TBA{% endif %}
                    {% else %}
                    Time TBA
                    {% endif %}
                  </span>
                {% endif %}

                </span>
              </td>
              <td>
                {% if eachitem.rateRegular %}<span class="span-rate span-rate-regular"><span>Regular Rate</span> - &#x20B1; {{ eachitem.rateRegular }}</span>{% endif %}
                {% if eachitem.rateRegularAcadGov %}<span class="span-rate span-rate-regular"><span>Academic/Government Rate</span> - &#x20B1; {{ eachitem.rateRegularAcadGov }}</span>{% endif %}
    {% if eachitem.rateEarly or eachitem.rateEarlyAcadGov or eachitem.rateEarlyIndusCorpo %}
    <span class="span-rate span-rate-earlybird">
      <span>Early Bird Rate</span>
      <ul>
        <li>Academic/Government - &#x20B1; {{ eachitem.rateEarlyAcadGov }}</li>
        <li>Industry/Corporate - &#x20B1; {{ eachitem.rateEarlyIndusCorpo }}</li>
      </ul>
    </span>
    {% endif %}
              </td>
              <td><a href="{{ site.urlRegForm }}" target="_blank" class="btn btn-default btn-register">Register</a></td>
            </tr>

            {% break %}
            {% endif %}
            {% endfor %}

            {% endfor %}
          </tbody>
        </table>
        <!--/div-->
        {% endif %}

        {% endfor %}

        {% endif %}

        {% else %}
        <p>There are no other course offerings to display.</p>
        {% endif %}

        <a href="{{ site.baseurl }}/files/schedule/{{ site.fileSchedule }}" target="_blank" class="btn btn-default" style="margin-top:30px;margin-bottom: 15px;"> Download schedules PDF </a>
        <span style="display:block">Last updated {{ page.dataLastUpdated }}</span>

      </div>



    </div></div>

  </section>

  <section id="sectionOfferings" class="section-maroon">

    <!-- SECTION ID GOES HERE -->
    <a class="anchor" id="offerings"></a>

    <div class="container-fluid container-fluid-max"><div class="row">

      <div class="col-lg-12">
        <h2>Course Offerings</h2>
        <div class="div-offerings multicol multicol-lg-2 multicol-md-2 multicol-sm-2">
          {% for eachgroup in page.dataCourseOfferings %}
          <div class="multicol-unit">
            <h3>{{ eachgroup.name }}</h3>
            <ul>
            {% for eachcourse in eachgroup.list %}
              <li><a{% if eachcourse.file and eachcourse.file != "" %} href="{{ site.baseurl }}/files/syllabus/{{ eachgroup.id }}/{{ eachcourse.file }}" target="_blank"{% else %} tabindex="-1" class="inactive"{% endif %}>{{ eachcourse.name }}</a></li>
            {% endfor %}
            </ul>
          </div>
          {% endfor %}
        </div>
        <p>Note: If you see a course title on our Course Offerings that is not
          on our Schedules &amp; Rates, you may send us an inquiry e-mail at
          <a href="mailto:{{ site.contactEmail }}?Subject=Inquiry%20on%20Courses">{{ site.contactEmail }}</a>. You may also call us at our landline no. 788 5898.</p>

      </div>



    </div></div>

  </section>

  <section id="sectionRegistration">

    <!-- SECTION ID GOES HERE -->
    <a class="anchor" id="registration"></a>

    <div class="container-fluid container-fluid-max"><div class="row">

      <div class="col-lg-12">
        <h2>Registration</h2>
        <div class="div-registration multicol multicol-lg-2 multicol-md-2 multicol-sm-2">

          <div class="multicol-unit">
            <h3>Guidelines</h3>

            <div>
              <h4>Deadline</h4>
              <p>The deadline of registration for any tech course is on the
                first of the class.</p>
            </div>
            <div>
              <h4>Class Size</h4>
              <ul>
                <li><p>The minimum class size offering is 12.</p></li>
                <li><p>The maximum class size is 32, but may be lower in certain
                  specialized classes.</p></li>
                <li><p>UPSITF reserves the right to cancel or postpone any tech
                  course offering if the minimum number of students required in
                  the class has not been reached.</p></li>
              </ul>
            </div>
            <div>
              <h4>Withdrawal/Cancellation</h4>
              <ul>
                <li><p>If a person opts to withdraw his/her registration from any
                  tech course, a refund of 80% of training fee shall be made by
                  UPSITF to the registrant.</p></li>
                <li><p>No refund shall be given if a class has already started at
                  the time the registration is withdrawn.</p></li>
                <li><p>In the event that a cancellation of a short course class is
                  made by UPSITF, full refund shall be made by UPSITF to the
                  registrants of said short course class.</p></li>
              </ul>
            </div>
            <div>
              <h4>Short Course Deliverables</h4>
              <p>Short Course participants shall receive the following items
                from UPSITF:
                <ul>
              		<li>1:1 PC to student ratio</li>
              		<li>Course Materials</li>
              		<li>Certificate of Completion (must pass the Short Course requirements)</li>
              		<li>Snacks and Lunch</li>
                </ul>
              </p>
            </div>
            <div>
              <h4>Payment</h4>
              <ul>
                <li><p>UPSITF accepts payments in cash, manager’s check, personal
                  check and through credit card (e.g. MasterCard, Visa).</p></li>
                <li><p>Full payment must be made by the first day of class.</p></li>
                <li><p>Full payment made at least a week before classes start is
                  eligible for Early Bird Discount.</p></li>
                <li><p>Only those who paid in full shall be considered enrolled in
                  the class.</p></li>
              </ul>
            </div>

          </div>

          <div class="multicol-unit">
            <h3>Reservation</h3>
            <ol>
              <li><p>Make a deposit to the UPSITF bank account in the amount of
                &#x20B1; 500. Bank details are as follows:</p>
                <ul>
                  <li>Account Name: UP System IT Foundation Inc.</li>
	                <li>Account Number: 3072-1003-60</li>
                  <li>Name of Bank: LANDBANK UP Diliman Extension</li>
                </ul>
              </li>
              <li><p>Send a copy of the Deposit Slip through any of the following:</p>
                <ul>
                  <li>Attach a copy of the Deposit Slip when you register online</li>
                  <li>E-mail a copy of the Deposit Slip at info@upsitf.org. Use
                    the following format in the email subject line:
                    <span>Name of Student (space) Name of Course<br/>
                      Ex.: Juan dela Cruz Intro to SQL.</span>
                  </li>
                  <li>Fax a copy of the Deposit Slip to UPSITF through fax no.
                    (+632) 920-2036. You may call Ms. Rhea Francisco-Samonte at
                    (+632) 4362217 or (+632) 920-2080 to verify the fax receipt
                    of the Deposit Slip.</li>
                </ul>
              </li>
            </ol>
            <!--p>You may call Ms. Rhea Francisco-Samonte at (+632) 4362217 or
              (+632) 920-2080 to verify the fax receipt of the Deposit Slip.</p-->
          </div>

          <div class="multicol-unit">
            <h3>Requirements</h3>
            <p>Individuals interested in taking a particular tech course must
              submit the following requirements:
              <ul>
                <li>Duly-accomplished Tech Course Application Form</li>
                <li>One (1) color ID picture (2×2)</li>
                <li>&#x20B1; 500 Reservation Fee</li>
                <li>Tech Course Training Fee</li>
                <li>Proof of having taken the course prerequisites (if applicable)</li>
              </ul>
            </p>
          </div>

          <div class="multicol-unit div-faq">
            <h3>FAQ</h3>

            <div>
              <h4>Admission</h4>
              <ul>
                <li>
                  <p>Is there an admission exam?</p>
                  <p>There is no admission exam needed to enroll in the Tech
                    Course Program.</p>
                </li>
                <li>
                  <p>Are the courses only for professionals?</p>
                  <p>No. High school and college students are welcome to apply.</p>
                </li>
              </ul>
            </div>

            <div>
              <h4>Registration and Payment</h4>
              <ul>
                <li>
                  <p>What is the difference between Government/Academe and
                    Industry Early-Bird Rate?</p>
                  <p>Government/Academe Early-Bird Rate applies to government
                    employees and members of the academe, while Industry
                    Early-Bird Rate applies to corporate/non-government/academe
                    employees.</p>
                </li>
                <li>
                  <p>Are there discounts for UP Students?</p>
                  <p>Yes. For UP students, the government/academe rate applies,
                    provided they submit their current Form 5 and ID.</p>
                </li>
                <li>
                  <p>Are there discounts for non-UP students?</p>
                  <p>No.</p>
                </li>
                <li>
                  <p>How about for returning UPSITF tech course students?</p>
                  <p>For students who have enrolled in any tech course in the
                    last three years, a 40% discount from the regular rate will
                    be given.</p>
                </li>
              </ul>
            </div>

            <div>
              <h4>Courses</h4>
              <ul>
                <li>
                  <p>Can I enroll in a class if I did not take its prerequisite?</p>
                  <p>For students enrolling in courses with prerequisites, they
                    must complete all required courses first.</p>
                </li>
                <li>
                  <p>Can I enroll in an advance course if I have completed a
                    basic program outside UPSITF?</p>
                  <p>For students enrolling in an advance course who have
                    previously completely a basic program outside UPSITF, a
                    certificate or proof of basic course completion is required.</p>
                </li>
                <li>
                  <p>What if I do not have a certificate but I want to enroll in
                    an advance course?</p>
                  <p>Should a student insist in enrolling in an advance course
                    without a certificate, he or she may be admitted to the
                    class provided that a refund will not be granted in case
                    the student decides not to pursue while the class is already
                    ongoing.</p>
                </li>
                <li>
                  <p>Will there be a make-up class if I miss a class?</p>
                  <p>If a student misses a class, there will be no make-up class provided.</p>
                </li>
                <li>
                  <p>What type of certificate will be given after the class?</p>
                  <p>A Certificate of Completion will be given to students who
                    have accomplished all course requirements, while a Certificate
                    of Participation will be given to students with incomplete
                    attendance or requirements.</p>
                </li>
              </ul>
            </div>

          </div>

          <div class="multicol-unit">
            <div class="panel panel-cta">
              <!--form-->
                <h3>Are you ready?</h3>
                <p>Make sure that you have read and understood our registration guidelines and that your requirements are ready before filling out our registration form.</p>
                <!--div class="checkbox"><label><input type="checkbox"> I have read and understood
                    lorem ipsum dolor sit amet.</label></div-->
                <!--button type="submit" class="btn btn-default">Register</button-->
                <a href="{{ site.urlRegForm }}" target="_blank" class="btn btn-default btn-register">Register Now</a>
              <!--/form-->
            </div>
          </div>

        </div>

      </div>



    </div></div>

  </section>


</section>
