---
title: "Home"
layout: main

dataAds:
 - image: "photo_bg-ad-hacking.jpg"
   category: "NEW! Technical Course Programs"
   title: "Penetration Testing"
   copyPostTitle:
    - "Protect your web apps"
    - "from potential threats and attacks."
   description: "This course will introduce students to the basics of website application, penetration testing, and bug bounty hunting."
   select:
    - text: "More Info"
      url:
       - 'site.baseurl'
       - "/courses"
       - "#"
       - "schedules"
    - text: "Our Other Courses"
      url:
       - 'site.baseurl'
       - "/courses"
    - text: "Register"
      url: 'site.urlRegForm'
      type: 'button'
 - image: "photo_bg-ad-oraclesql.jpg"
   category: "Technical Course Programs"
   title: "Oracle SQL Fundamentals"
   copyPostTitle:
    - "Learn the concepts of relational"
    - "database and the Oracle database technology."
   description: "After learning the basics of SQL, you will be introduced to its advanced features, such as schema objects, manipulation of large data sets, and advanced querying."
   select:
    - text: "More Info"
      url:
       - 'site.baseurl'
       - "/courses"
       - "#"
       - "schedules"
    - text: "Our Other Courses"
      url:
       - 'site.baseurl'
       - "/courses"
    - text: "Register"
      url: 'site.urlRegForm'
      type: 'button'
      target: '_blank'
 - image: "photo_bg-ad-pm.jpg"
   category: "Technical Course Programs"
   title: "Project Management"
   copyPostTitle: "Be PMP ready now."
   description: "Understand the stages of project management and its importance to improve the success of information technology projects. This course aims to broaden one's knowledge of project management terms techniques."
   select:
    - text: "More Info"
      url:
       - 'site.baseurl'
       - "/courses"
       - "#"
       - "schedules"
    - text: "Our Other Courses"
      url:
       - 'site.baseurl'
       - "/courses"
    - text: "Register"
      url: 'site.urlRegForm'
      type: 'button'
      target: '_blank'

dataAdsLegacy:
 - image: "photo_bg-ad-hacking.jpg"
   category: "Technical Course Programs"
   title: "Ethical Hacking"
   copyPreTitle: "Coming Soon: New Course!"
   description: "This course will introduce students to the basics of website application, penetration testing, and bug bounty hunting."
   select:
    - text: "Our Other Courses"
      url:
       - 'site.baseurl'
       - "/courses"

photosCourses:
 - "art_icon-android-full.png"
 - "art_icon-db-full.png"
 - "art_icon-python-full.png"
 - "art_icon-phpmysql-full.png"

dataCoursesUpdates:
 - "C# Programming Using MS.NET - starts on January 7, 2018"
 - "PHP and MySQL Fundamentals - starts on January 7, 2018"
 - "CCNA 1: Network Fundamentals - starts on January 14, 2018"


---

<section class="section-jumbotron"><div class="slick-jumbotron">

  {% for eachad in page.dataAds %}

  <div class="jumbotron-slide" style="background-image:linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ),url('{{ site.baseurl }}/images/ads/{{ eachad.image }}')"><div class="container-fluid container-fluid-max"><div class="row"><div class="col-lg-6 col-lg-offset-6"><div class="jumbotron-slide-content"><div class="jumbotron-slide-content-inner">
    <span class="span-category">{{ eachad.category }}</span>
    {% if eachad.copyPreTitle %}<span class="span-copy">{% for eachcopy in eachad.copyPreTitle %}{{ eachcopy }}{% if forloop.last == false %}<br class="visible-lg visible-md"/>{% endif %}{% endfor %}</span>{% endif %}
    <span class="span-title">{{ eachad.title }}</span>
    {% if eachad.copyPostTitle %}<span class="span-copy">{% for eachcopy in eachad.copyPostTitle %}{{ eachcopy }} {% if forloop.last == false %}<br class="visible-lg visible-md"/>{% endif %}{% endfor %}</span>{% endif %}
    <p>{{ eachad.description }}</p>
    {% if eachad.select %}
    <ul class="ul-jumbotron-slide">
      {% for eachselect in eachad.select %}
      <li><a href="{% for eachurl in eachselect.url %}{% if eachurl == 'site.baseurl' %}{{ site.baseurl }}{% elsif eachurl == 'site.urlRegForm' %}{{ site.urlRegForm }}{% elsif eachurl == '#' %}{% if site.switchAnchorSlash == true %}{{ '/' }}{% endif %}{{ eachurl }}{% else %}{{ eachurl }}{% endif %}{% endfor %}"{% if eachselect.type == 'button' %} class="btn btn-default"{% endif %}{% if eachselect.target %} target="{{ eachselect.target }}"{% endif %}>{{ eachselect.text }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </div></div></div></div></div></div>

  {% endfor %}

</div></section>

<section class="section-body">

  {% if site.switchBlog == true %}
  <section id="sectionBlog" class="section-home section-home-news">

    <!-- SECTION ID GOES HERE -->
    <a class="anchor" id="blog"></a>

    <div class="container-fluid container-fluid-max"><div class="row"><div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h1 class="hidden">Blog</h1>
      <div class="row"><div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><div class="panel panel-nomargins panel-news">

        <div class="row"><div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><a><div class="panel panel-nomargins panel-news-unit panel-news-unit-large"><div class="row">
          <div class="col-lg-6 col-lg-push-6 col-md-6 col-md-push-6 col-sm-6 col-sm-push-6 col-xs-12 col-xs-push-0">
            <div class="panel panel-nomargins panel-news-unit-large-content panel-news-unit-large-content-image"><!--img src="{{ site.baseurl }}/images/filler-640x480-1.jpg"--></div>
          </div>
          <div class="col-lg-6 col-lg-pull-6 col-md-6 col-md-pull-6 col-sm-6 col-sm-pull-6 col-xs-12 col-xs-pull-0"><div class="panel panel-news-unit-large-content panel-news-unit-large-content-text">
            <h1>What's New</h1>
            <h2>100 Days of Y4iT</h2>
            <span>January 1, 2016</span>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
              nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
              volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
              ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
              consequat.</p>
          </div></div>
        </div></div></a></div></div>

        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"><a><div class="panel panel-nomargins panel-news-unit panel-news-unit-small"><div class="panel-news-unit-small-content"><div class="panel-news-unit-small-content-inner">
            <h2>Free Training</h2>
            <span>January 1, 2016</span>
          </div></div></div></a></div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"><a><div class="panel panel-nomargins panel-news-unit panel-news-unit-small"><div class="panel-news-unit-small-content"><div class="panel-news-unit-small-content-inner">
            <h2>YRS 2017</h2>
            <span>January 1, 2016</span>
          </div></div></div></a></div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"><a><div class="panel panel-nomargins panel-news-unit panel-news-unit-small"><div class="panel-news-unit-small-content"><div class="panel-news-unit-small-content-inner">
            <h2>All News</h2>
            <span>January 1, 2016</span>
          </div></div></div></a></div>
        </div>

      </div></div></div>
    </div></div></div>

  </section>
  {% endif %}

  <section id="sectionShortcourses" class="section-home section-home-shortcourses">

    <!-- SECTION ID GOES HERE -->
    <a class="anchor" id="shortcourses"></a>

    <div class="container-fluid container-fluid-max"><div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="row">

          <div class="col-lg-4 col-lg-push-8 col-md-4 col-md-push-8 col-sm-6 col-sm-push-6 col-xs-12 col-xs-push-0">
            <!--img-->

            <div class="slick-courses" style="margin-left:auto;margin-right:auto;max-width:240px;margin-top:15px;margin-bottom:15px;">

              {% for eachcourse in page.photosCourses %}
              <div class=""><img class="img-responsive" src="{{ site.baseurl }}/images/icons/full/{{ eachcourse }}"></div>
              {% endfor %}

            </div>

          </div>
          <div class="col-lg-8 col-lg-pull-4 col-md-8 col-md-pull-4 col-sm-6 col-sm-pull-6 col-xs-12 col-xs-pull-0">

            <h1>Tech Course Programs</h1>

            <p>UPSITF offers a broad selection of courses designed to equip its
              participants a working set of IT skills that are responsive to the
              demands of time. These courses are modular, and the duration of
              each module may range from three days to two weeks, taken on a
              part-time basis.</p>
            {% if page.dataCoursesUpdates %}
            <h3>Schedules: Updates</h3>
            <ul>
              {% for eachitem in page.dataCoursesUpdates %}
              <li>{{ eachitem }}</li>
              {% endfor %}
            </ul>
            {% endif %}

            <a class="btn btn-default" href="{{ site.baseurl }}/courses" style="margin-right: 15px;">More Courses</a>
            <a class="btn btn-default btn-register" target="_blank" href="{{ site.urlRegForm }}">Register</a>
          </div>

        </div>

      </div>

    </div></div>
  </section>

  <section id="sectionServices" class="section-home section-home-services section-maroon">

    <!-- SECTION ID GOES HERE -->
    <a class="anchor" id="services"></a>

    <div class="container-fluid container-fluid-max"><div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1>Other Services</h1>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12"><a class="a-panel-service" href="{{ site.baseurl }}/services{% if site.switchAnchorSlash == true %}{{ '/' }}{% endif %}#cct"><div class="panel panel-service">
        <h2>
          CCT
          <small>Corporate Customized Training</small>
        </h2>
        <p>UPSITF customizes its training modules according to the needs of its
          clients and partners.</p>
      </div></a></div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12"><a class="a-panel-service" href="{{ site.baseurl }}/services{% if site.switchAnchorSlash == true %}{{ '/' }}{% endif %}#tbc4k"><div class="panel panel-service">
        <h2>
          TBC4K
          <small>Tech Boot Camp for Kids + Teens</small>
        </h2>
        <p>TBC4K aims to introduce students to a wide array of ICT courses
          especially designed for kids and teens, including Robotics,
          Programming, Digital Arts, Blogging, and many more.</p>
      </div></a></div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12"><a class="a-panel-service" href="{{ site.baseurl }}/services{% if site.switchAnchorSlash == true %}{{ '/' }}{% endif %}#ict4d"><div class="panel panel-service">
        <h2>
          ICT4D
          <small>ICT for Development</small>
        </h2>
        <p>ICT4D Philippine Network is a loose network of academe partners that
          aims to engage government, IT industry, and developmental institutions
          in contributing to sustainable inclusive growth of the country.</p>
      </div></a></div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12"><a class="a-panel-service" href="{{ site.baseurl }}/services{% if site.switchAnchorSlash == true %}{{ '/' }}{% endif %}#consultations"><div class="panel panel-service">
        <h2>
          +
          <small>Consultations</small>
        </h2>
        <p>UPSITF offers consulting services and expertise for the following:
          Systems Audit and Portfolio Management, Executive Information Systems,
          Network Design and Administration, E-Learning, and Software Systems
          and Application Development</p>
      </div></a></div>
    </div></div>
  </section>

  <section id="sectionEvents" class="section-home section-home-events">

    <!-- SECTION ID GOES HERE -->
    <a class="anchor" id="events"></a>

    <div class="container-fluid container-fluid-max"><div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1>Events</h1>

        <div class="row">

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><div class="panel panel-nomargins panel-events">

            <div class="row"><div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><a href="{{ site.baseurl }}/events{% if site.switchAnchorSlash == true %}{{ '/' }}{% endif %}#y4it"><div class="panel panel-nomargins panel-events-unit"><div class="row">
              <div class="col-lg-6 col-lg-push-6 col-md-6 col-md-push-6 col-sm-6 col-sm-push-6 col-xs-12 col-xs-push-0"><div class="panel panel-nomargins panel-events-unit-content panel-events-unit-content-image" style="background-image:url('{{ site.baseurl }}/images/photo_display-y4it.jpg');background-size:cover;">
                <!--img-->
              </div></div>
              <div class="col-lg-6 col-lg-pull-6 col-md-6 col-md-pull-6 col-sm-6 col-sm-pull-6 col-xs-12 col-xs-pull-0"><div class="panel panel-nomargins panel-events-unit-content panel-events-unit-content-text">
                <h2>Youth Congress on Information Technology</h2>
                <p>The Youth Congress on Information Technology, commonly called
                  Y4iT, is an enabling event for today’s youth that recognizes
                  young Filipinos as key drivers in the dynamic IT industry.</p>
              </div></div>
            </div></div></a></div></div>

            <div class="row"><div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><a href="{{ site.baseurl }}/events{% if site.switchAnchorSlash == true %}{{ '/' }}{% endif %}#yrs"><div class="panel panel-nomargins panel-events-unit"><div class="row">
              <div class="col-lg-6 col-lg-push-6 col-md-6 col-md-push-6 col-sm-6 col-sm-push-6 col-xs-12 col-xs-push-0"><div class="panel panel-nomargins panel-events-unit-content panel-events-unit-content-image" style="background-image:url('{{ site.baseurl }}/images/photo_display-yrs.jpg');background-size:cover;">
                <!--img-->
              </div></div>
              <div class="col-lg-6 col-lg-pull-6 col-md-6 col-md-pull-6 col-sm-6 col-sm-pull-6 col-xs-12 col-xs-pull-0"><div class="panel panel-nomargins panel-events-unit-content panel-events-unit-content-text">
                <h2>Y4iT Research Summit</h2>
                <p>The Y4IT Research Summit aims to foster dialogue about the
                  current IT state of the Philippines, as well as to identify
                  various societal issues and provide potential solutions
                  through the use of Information Communication Technology.</p>
              </div></div>
            </div></div></a></div></div>

            <div class="row"><div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><a href="{{ site.baseurl }}/events{% if site.switchAnchorSlash == true %}{{ '/' }}{% endif %}#syncup"><div class="panel panel-nomargins panel-events-unit"><div class="row">
              <div class="col-lg-6 col-lg-push-6 col-md-6 col-md-push-6 col-sm-6 col-sm-push-6 col-xs-12 col-xs-push-0"><div class="panel panel-nomargins panel-events-unit-content panel-events-unit-content-image" style="background-image:url('{{ site.baseurl }}/images/photo_display-syncup.jpg');background-size:cover;">
                <!--img-->
              </div></div>
              <div class="col-lg-6 col-lg-pull-6 col-md-6 col-md-pull-6 col-sm-6 col-sm-pull-6 col-xs-12 col-xs-pull-0"><div class="panel panel-nomargins panel-events-unit-content panel-events-unit-content-text">
                <h2>SYNC UP</h2>
                <p>SYNC UP gathers college student leaders of IT-related
                  organizations and provides them an opportunity for learning
                  through talks from industry leaders, as part of Y4iT’s goal in
                  empowering the youth.</p>
              </div></div>
            </div></div></a></div></div>

          </div></div>

        </div>

      </div>

    </div></div>

  </section>

  <section id="sectionAbout" class="section-home section-home-about section-bgimage" style="background-image:linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ),url('{{ site.baseurl }}/images/covers/photo_bg-cover-about.jpg')">

    <!-- SECTION ID GOES HERE -->
    <a class="anchor" id="about"></a>

    <div class="container-fluid container-fluid-max"><div class="row"><div class="col-lg-6 col-lg-offset-6 col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6 col-xs-12 col-xs-offset-0"><div>
      <span class="span-tagline">Making IT Happen</span>
      <p>The UP System Information Technology Foundation (UPSITF), Inc. is a
        non-government organization focused on the application of Information
        and Communication Technology for development. It partners with the UP
        Information Technology Development Center (UP ITDC) in providing various
        services such as Education Development, Research &amp; Development,
        Software Engineering, and IT Project Management, among others.</p>
      <ul class="ul-home-about">
        <!--li><a href="{{ site.baseurl }}/about">More Info</a></li-->
        <li><a href="{{ site.baseurl }}/about{% if site.switchAnchorSlash == true %}{{ '/' }}{% endif %}#contact" class="btn btn-default">Contact</a></li>
      </ul>
    </div></div></div></div>
  </section>

</section>
