---
layout: main

switchFillers: true

dataShortCoursesSAMPLE:
 - name: "ASP .NET Programming"     #string
   category: "Network Technology"   #string
   days: "Five (5)"                 #string format = [stringNumber] ([intNumber])
   day: "Saturday"                  #string
   timeStart: "9 AM"                #string format = [intTime] [AM/PM]
   timeEnd: "5 PM"                  #string format = [intTime] [AM/PM]
   dateStart: "January 1, 2016"     #string format = [stringMonth] [intDay], [intYear]
   dateEnd: "January 31, 2016"      #string format = [stringMonth] [intDay], [intYear]
   rateRegular: "10,000.00"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "10,000.00"    #double with commas and 2 decimal places
   rateEarlyIndusCorpo: ""          #double with commas and 2 decimal places

dataShortCoursesConfirmedTrainings:
 - name: "ASP .NET Programming"     #string
   category: "Network Technology"   #string
   days: "Five (5)"                 #string format = [stringNumber] ([intNumber])
   day: "Saturday"                  #string
   timeStart: "9 AM"                #string format = [intTime] [AM/PM]
   timeEnd: "5 PM"                  #string format = [intTime] [AM/PM]
   dateStart: "January 1, 2016"     #string format = [stringMonth] [intDay], [intYear]
   dateEnd: "January 31, 2016"      #string format = [stringMonth] [intDay], [intYear]
   rateRegular: "10,000.00"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "10,000.00"    #double with commas and 2 decimal places
   rateEarlyIndusCorpo: "10,000.00" #double with commas and 2 decimal places
 - name: "OracleSQL"                #string
   category: "Network Technology"   #string
   days: "Five (5)"                 #string format = [stringNumber] ([intNumber])
   day: "Saturday"                  #string
   timeStart: "9 AM"                #string format = [intTime] [AM/PM]
   timeEnd: "5 PM"                  #string format = [intTime] [AM/PM]
   dateStart: "January 1, 2016"     #string format = [stringMonth] [intDay], [intYear]
   dateEnd: "January 31, 2016"      #string format = [stringMonth] [intDay], [intYear]
   rateRegular: "10,000.00"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "10,000.00"    #double with commas and 2 decimal places
   rateEarlyIndusCorpo: "10,000.00" #double with commas and 2 decimal places
 - name: "ASP .NET Programming"     #string
   category: "Network Technology"   #string
   days: "Five (5)"                 #string format = [stringNumber] ([intNumber])
   day: "Saturday"                  #string
   timeStart: "9 AM"                #string format = [intTime] [AM/PM]
   timeEnd: "5 PM"                  #string format = [intTime] [AM/PM]
   dateStart: "January 1, 2016"     #string format = [stringMonth] [intDay], [intYear]
   dateEnd: "January 31, 2016"      #string format = [stringMonth] [intDay], [intYear]
   rateRegular: "10,000.00"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "10,000.00"    #double with commas and 2 decimal places
   rateEarlyIndusCorpo: "10,000.00" #double with commas and 2 decimal places
 - name: "OracleSQL"                #string
   category: "Network Technology"   #string
   days: "Five (5)"                 #string format = [stringNumber] ([intNumber])
   day: "Saturday"                  #string
   timeStart: "9 AM"                #string format = [intTime] [AM/PM]
   timeEnd: "5 PM"                  #string format = [intTime] [AM/PM]
   dateStart: "January 1, 2016"     #string format = [stringMonth] [intDay], [intYear]
   dateEnd: "January 31, 2016"      #string format = [stringMonth] [intDay], [intYear]
   rateRegular: "10,000.00"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "10,000.00"    #double with commas and 2 decimal places
   rateEarlyIndusCorpo: "10,000.00" #double with commas and 2 decimal places

dataShortCoursesTechiesChoice:
 - name: "ASP .NET Programming"     #string
   category: "Network Technology"   #string
   days: "Five (5)"                 #string format = [stringNumber] ([intNumber])
   day: "Saturday"                  #string
   timeStart: "9 AM"                #string format = [intTime] [AM/PM]
   timeEnd: "5 PM"                  #string format = [intTime] [AM/PM]
   dateStart: "January 1, 2016"     #string format = [stringMonth] [intDay], [intYear]
   dateEnd: "January 31, 2016"      #string format = [stringMonth] [intDay], [intYear]
   rateRegular: "10,000.00"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "10,000.00"    #double with commas and 2 decimal places
   rateEarlyIndusCorpo: "10,000.00" #double with commas and 2 decimal places

switchShortCoursesCategorize: true
dataShortCoursesCategories:
 - "Programming"
 - "Software Development and Applications"
 - "Web Technology"
 - "Database Technology"
 - "Network Technology"
 - "Business Processes"
 - "Systems Analysis and Design"

dataShortCoursesOthers:
 - name: "ASP .NET Programming"     #string
   category: "Network Technology"   #string
   days: "Five (5)"                 #string format = [stringNumber] ([intNumber])
   day: "Saturday"                  #string
   timeStart: "9 AM"                #string format = [intTime] [AM/PM]
   timeEnd: "5 PM"                  #string format = [intTime] [AM/PM]
   dateStart: "January 1, 2016"     #string format = [stringMonth] [intDay], [intYear]
   dateEnd: "January 31, 2016"      #string format = [stringMonth] [intDay], [intYear]
   rateRegular: "10,000.00"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "10,000.00"    #double with commas and 2 decimal places
   rateEarlyIndusCorpo: "10,000.00" #double with commas and 2 decimal places
 - name: "OracleSQL"                #string
   category: "Network Technology"   #string
   days: "Five (5)"                 #string format = [stringNumber] ([intNumber])
   day: "Saturday"                  #string
   timeStart: "9 AM"                #string format = [intTime] [AM/PM]
   timeEnd: "5 PM"                  #string format = [intTime] [AM/PM]
   dateStart: "January 1, 2016"     #string format = [stringMonth] [intDay], [intYear]
   dateEnd: "January 31, 2016"      #string format = [stringMonth] [intDay], [intYear]
   rateRegular: "10,000.00"         #double with commas and 2 decimal places
   rateEarlyAcadGov: "10,000.00"    #double with commas and 2 decimal places
   rateEarlyIndusCorpo: "10,000.00" #double with commas and 2 decimal places

dataCourseOfferings:
 - name: "Programming"
   list:
    - name: "Introduction to C Programming"
      file: ""
    - name: "C++ Programming"
      file: ""
    - name: "Introduction to Visual Basic .NET"
      file: ""
    - name: "C# Programming Using MS.NET"
      file: ""
    - name: "Java Programming I (Basic)"
      file: ""
    - name: "Java Programming II (Intermediate)"
      file: ""
    - name: "Java EE"
      file: ""
    - name: "Mobile Applications Using Java ME"
      file: ""
    - name: "Python (Integrated with Django Web Framework)"
      file: ""
 - name: "Software Development and Applications"
   list:
    - name: "Introduction to Android Application"
      file: ""
    - name: "iOS Application Development"
      file: ""
    - name: "Object-Oriented Analysis and Design Using UML"
      file: ""
    - name: "Software Engineering"
      file: ""
    - name: "Software Testing"
      file: ""
    - name: "Software Quality Assurance (SQA)"
      file: ""
 - name: "Web Technology"
   list:
    - name: "Intro to ASP.NET Programming"
      file: ""
    - name: "Intro to Basic Web Development"
      file: ""
    - name: "PHP and MySQL Fundamentals"
      file: ""
    - name: "Advanced PHP and MySQL"
      file: ""
    - name: "Search Engine Optimization"
      file: ""
 - name: "Database Technology"
   list:
    - name: "Introduction to Database Systems"
      file: ""
    - name: "Fundamentals of Oracle SQL"
      file: ""
    - name: "Intro to Oracle PLSQL"
      file: ""
    - name: "MS Access 2007"
      file: ""
 - name: "Network Technology"
   list:
    - name: "CCNA 1: Network Fundamentals"
      file: ""
    - name: "CCNA 2: Routing Protocols and Concepts"
      file: ""
    - name: "CCNA 3: LAN Switching and Wireless"
      file: ""
    - name: "CCNA 4: Accessing the WAN"
      file: ""
    - name: "Linux Essentials"
      file: ""
    - name: "Linux System Administration 101"
      file: ""
    - name: "Linux System Administration 102"
      file: ""
    - name: "Linux System Administration 201"
      file: ""
    - name: "Linux System Administration 202"
      file: ""
    - name: "I.T. Security Analysis"
      file: ""
 - name: "Business Processes"
   list:
    - name: "Project Management"
      file: ""
    - name: "Computer Literacy"
      file: ""
    - name: "Educational Technology 101"
      file: ""
 - name: "Systems Analysis and Design"
   list:
    - name: "Systems Analysis and Design (SAD)"
      file: ""

dataRegistration: 1

---
<section>

  <section class="section-header"><div class="container-fluid container-fluid-max"><div class="row"><div class="col-lg-12">

    <h1>
      Tech Course Programs
      <small>Short Courses</small>
    </h1>

    <div class="row">
      <div class="col-lg-4 col-lg-push-8 col-md-4 col-md-push-8 col-sm-6 col-sm-push-6 col-xs-12 col-xs-push-0">
        <img>
      </div>
      <div class="col-lg-8 col-lg-pull-4 col-md-8 col-md-pull-4 col-sm-6 col-sm-pull-6 col-xs-12 col-xs-pull-0">
        <span>Position yourself for a bright future.</span>
        <p>UPSITF offers a broad selection of short courses designed to provide
          you a working set of IT skills that are responsive to the demands of
          the ever-changing and developing IT industry.</p>
        <ul class="ul-sections">
          <li><a href="#schedules">Schedules &amp; Rates</a></li>
          <li><a href="#offerings">Course Offerings</a></li>
          <li><a href="#registration">Registration</a></li>
        </ul>
      </div>
    </div>

  </div></div></div></section>

  <section id="schedules">

    <div class="container-fluid container-fluid-max"><div class="row">

      <div class="col-lg-12">
        <h2>Schedules &amp; Rates</h2>

        <h3>Confirmed Trainings</h3>
        <div class="div-trainings-main multicol multicol-lg-2 multicol-md-2 multicol-sm-2">

          {% for eachitem in page.dataShortCoursesConfirmedTrainings %}
          {% include unit-shortcourse.html %}
          {% endfor %}

        </div>

        <h3>Techie's Choice</h3>
        <div class="div-trainings-main multicol multicol-lg-2 multicol-md-2 multicol-sm-2">

          {% for eachitem in page.dataShortCoursesTechiesChoice %}
          {% include unit-shortcourse.html %}
          {% endfor %}

        </div>


        <h3 style="margin-bottom:10px;">Other Course Schedules</h3>

        {% if page.dataShortCoursesOthers %}
        {% if page.dataShortCoursesCategories and page.switchShortCoursesCategorize %}


        {% for eachcategory in page.dataShortCoursesCategories %}

        {% assign exist = false %}
        {% for eachitem in page.dataShortCoursesOthers %}
        {% if eachitem.category == eachcategory %}
        {% assign exist = true %}
        {% break %}
        {% endif %}
        {% if exist == true %}{% break %}{% endif %}
        {% endfor %}

        {% if exist == true %}
        <table class="table-shortcourses">
          <thead><tr><th colspan="3"><h4>{{ eachcategory }}</h4></th><th><button class="btn btn-default">+</button></th></tr></thead>
          <tbody style="display:none;">
            {% for eachitem in page.dataShortCoursesOthers %}
            {% if eachitem.category == eachcategory %}
            <tr>
              <td>
                {% if eachitem.name %}<h5>{{ eachitem.name }}</h5>{% endif %}
              </td>
              <td>
                <span>
                  {% if eachitem.dateStart or eachitem.dateEnd %}
                  {% if eachitem.dateStart %}{{ eachitem.dateStart }}{% else %}TBA{% endif %}
                  {% if eachitem.dateEnd %}to {{ eachitem.dateEnd }}{% else %}TBA{% endif %}
                  {% else %}
                  Dates TBA
                  {% endif %}

                  {% if eachitem.days or eachitem.day or eachitem.timeStart or eachitem.timeEnd %}
                  <br/>
                  {% if eachitem.days %}{{ eachitem.days }} day/s {% endif %}
                  {% if eachitem.day %}{% if eachitem.days %}- e{% else %}E{% endif %}very {{ eachitem.day }}{% endif %}
                  {% if eachitem.timeStart or eachitem.timeEnd %}
                  {% if eachitem.days or eachitem.day %}|{% endif %}
                  {% if eachitem.timeStart %}{{ eachitem.timeStart }}{% else %}TBA{% endif %}
                  {% if eachitem.timeEnd %}- {{ eachitem.timeEnd }}{% else %}TBA{% endif %}
                  {% else %}
                  Time TBA
                  {% endif %}
                  {% endif %}
                </span>
              </td>
              <td>
                {% if eachitem.rateRegular %}<span>Regular Rate - &#x20B1; {{ eachitem.rateRegular }}</span>{% endif %}
                {% if eachitem.rateEarly or eachitem.rateEarlyAcadGov or eachitem.rateEarlyIndusCorpo %}
                <span>
                  Early Bird Rate
                  <ul>
                    <li>Academic/Government - &#x20B1; {{ eachitem.rateEarlyAcadGov }}</li>
                    <li>Industry/Corporate - &#x20B1; {{ eachitem.rateEarlyIndusCorpo }}</li>
                  </ul>
                </span>
                {% endif %}
              </td>
              <td class="text-center"><a href="{{ site.urlRegForm }}" target="_blank" class="btn btn-default">Register</a></td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
        {% endif %}

        {% endfor %}
        {% else %}

        <table class="table-shortcourses"><tbody>
          {% for eachitem in page.dataShortCoursesOthers %}
          <tr>
            <td>
              {% if eachitem.name %}<h4>{{ eachitem.name }}</h4>{% endif %}
            </td>
            <td>
              <span>
                {% if eachitem.dateStart or eachitem.dateEnd %}
                {% if eachitem.dateStart %}{{ eachitem.dateStart }}{% else %}TBA{% endif %}
                {% if eachitem.dateEnd %}to {{ eachitem.dateEnd }}{% else %}TBA{% endif %}
                {% else %}
                Dates TBA
                {% endif %}

                {% if eachitem.days or eachitem.day or eachitem.timeStart or eachitem.timeEnd %}
                <br/>
                {% if eachitem.days %}{{ eachitem.days }} day/s {% endif %}
                {% if eachitem.day %}{% if eachitem.days %}- e{% else %}E{% endif %}very {{ eachitem.day }}{% endif %}
                {% if eachitem.timeStart or eachitem.timeEnd %}
                {% if eachitem.days or eachitem.day %}|{% endif %}
                {% if eachitem.timeStart %}{{ eachitem.timeStart }}{% else %}TBA{% endif %}
                {% if eachitem.timeEnd %}- {{ eachitem.timeEnd }}{% else %}TBA{% endif %}
                {% else %}
                Time TBA
                {% endif %}
                {% endif %}
              </span>
            </td>
            <td>
              {% if eachitem.rateRegular %}<span>Regular Rate - &#x20B1; {{ eachitem.rateRegular }}</span>{% endif %}
              {% if eachitem.rateEarly or eachitem.rateEarlyAcadGov or eachitem.rateEarlyIndusCorpo %}
              <span>
                Early Bird Rate
                <ul>
                  <li>Academic/Government - &#x20B1; {{ eachitem.rateEarlyAcadGov }}</li>
                  <li>Industry/Corporate - &#x20B1; {{ eachitem.rateEarlyIndusCorpo }}</li>
                </ul>
              </span>
              {% endif %}
            </td>
            <td><a class="btn btn-default">Register</a></td>
          </tr>
          {% endfor %}
        </tbody></table>
        <a>Load more schedules</a>
        {% endif %}

        {% else %}
        <p>There are no other course offerings to display.</p>
        {% endif %}

      </div>



    </div></div>

  </section>

  <section id="offerings">

    <div class="container-fluid container-fluid-max"><div class="row">

      <div class="col-lg-12">
        <h2>Course Offerings</h2>
        <div class="div-offerings multicol multicol-lg-2 multicol-md-2 multicol-sm-2">
          {% for eachgroup in page.dataCourseOfferings %}
          <div class="multicol-unit">
            <h3>{{ eachgroup.name }}</h3>
            <ul>
            {% for eachcourse in eachgroup.list %}
              <li><a{% if eachcourse.file %} href="{{ site.baseurl }}{{ eachcourse.file }}"{% endif %}>{{ eachcourse.name }}</a></li>
            {% endfor %}
            </ul>
          </div>
          {% endfor %}
        </div>
        <p>Note: If you see a course title on our Course Offerings that is not
          on our Schedules &amp; Rates, you may send us an inquiry e-mail at
          info@upsitf.org. You may also call us at our landline nos. 436 2217 or
          788 5898, and our mobile no. 09123456789.</p>

      </div>



    </div></div>

  </section>

  <section id="registration">

    <div class="container-fluid container-fluid-max"><div class="row">

      <div class="col-lg-12">
        <h2>Registration</h2>
        <div class="div-registration multicol multicol-lg-2 multicol-md-2 multicol-sm-2">

          <div class="multicol-unit">
            <h3>Guidelines</h3>

            <div>
              <h4>Deadline</h4>
              <p>The deadline of registration for any short course shall be on
                the first day of class.</p>
            </div>
            <div>
              <h4>Class Size</h4>
              <ul>
                <li>The minimum class size offering is 12.</li>
                <li>The maximum class size is 32, but may be lower in certain specialized classes.</li>
                <li>UPSITF reserves the right to cancel or postpone any short
                  course offering if the minimum number of students required in a
                  short course class has not been reached.</li>
              </ul>
            </div>
            <div>
              <h4>Withdrawal/Cancellation</h4>
              <ul>
                <li>If a person opts to withdraw his/her registration from any
                  short course, a refund of 80% of training fee shall be made by
                  UPSITF to the registrant.</li>
                <li>No refund shall be given if a class has already started at
                  the time the registration is withdrawn.</li>
                <li>In the event that a cancellation of a short course class is
                  made by UPSITF, full refund shall be made by UPSITF to the
                  registrants of said short course class.</li>
              </ul>
            </div>
            <div>
              <h4>Short Course Deliverables</h4>
              <p>Short Course participants shall receive the following items from UPSITF:</p>
              <ul>
            		<li>1:1 PC to student ratio</li>
            		<li>course materials</li>
            		<li>Certificate of Completion (must pass the Short Course requirements)</li>
            		<li>snacks and lunch</li>
              </ul>
            </div>
            <div>
              <h4>Payment</h4>
              <ul>
                <li>UPSITF accepts payments in cash, manager’s check, personal
                  check and through credit cards (e.g., MasterCard, Visa).</li>
                <li>Full payment must be made by the first day of class.</li>
                <li>Payments made at least a week before classes start is
                  eligible for Early Bird Discount.</li>
                <li>Only those who paid in full shall be considered enrolled in
                  the class.</li>
              </ul>
            </div>

          </div>

          <div class="multicol-unit">
            <h3>Reservation</h3>
            <ol>
              <li>Make a deposit to the bank account of UPSITF in the amount of
                &#x20B1; 500.00. Bank details are as follows:
                <span>
                  Account Name: UP System IT Foundation Inc.
	                Account Number: 3072-1003-60
                  Name of Bank: LANDBANK UP Diliman Extension
                </span>
              </li>
              <li>Fax the Deposit Slip to UPSITF through fax no. (+632) 920-2036.</li>
            </ol>
            <p>You may call Ms. Rhea Francisco-Samonte at (+632) 4362217 or
              (+632) 920-2080 to verify the fax receipt of the Deposit Slip.</p>
          </div>

          <div class="multicol-unit">
            <h3>Requirements</h3>
            <p>Individuals interested in taking a particular short course must submit the following requirements:
              <ul>
                <li>Duly-accomplished Short Course Application Form</li>
                <li>One (1) color ID picture (2×2)</li>
                <li>&#x20B1; 500.00 Reservation Fee</li>
                <li>Short course Training Fee</li>
                <li>Proof of having taken the course pre-requisites (if applicable)</li>
              </ul>
            </p>
          </div>

          <div class="multicol-unit">
            <div class="panel">
              <!--form-->
                <h3>Are you ready?</h3>
                <p>Make sure that lorem ipsum dolor sit amet.</p>
                <!--div class="checkbox"><label><input type="checkbox"> I have read and understood
                    lorem ipsum dolor sit amet.</label></div-->
                <!--button type="submit" class="btn btn-default">Register</button-->
                <a href="{{ site.urlRegForm }}" target="_blank" class="btn btn-default">Proceed to Registration Form</a>
              <!--/form-->
            </div>
          </div>

        </div>

      </div>



    </div></div>

  </section>


</section>
