<style>

/* AVENIR NEXT */

@font-face {
  font-family: 'Avenir Next';
  src: url('{{ site.baseurl }}/fonts/Avenir Next/AvenirNext-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('{{ site.baseurl }}/fonts/Avenir Next/AvenirNext-Italic.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('{{ site.baseurl }}/fonts/Avenir Next/AvenirNext-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('{{ site.baseurl }}/fonts/Avenir Next/AvenirNext-BoldItalic.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-style: italic;
  font-weight: bold;
}

* {
  font-family: 'Avenir Next' !important;
}

</style>
