<footer>

  <div class="container-fluid"><div class="row">

    <div class="col-lg-6">
      <ul>
        <li><a>Home</a></li>
        {% if site.switchBlog == true %}<li><a>Blog</a></li>{% endif %}
        <li>
          <a>Courses</a>
          <ul>
            <li><a>Schedules &amp; Rates</a></li>
            <li><a>Course Offerings</a></li>
            <li><a>Registration</a></li>
          </ul>
        </li>
        <li>
          <a>Services</a>
          <ul>
            <li><a>Corporate Customized Training - CCT</a></li>
            <li><a>Consultations &amp; Other Services</a></li>
            <li><a>Tech Boot Camp for Kids + Teens - TBC4K</a></li>
            <li><a>ICT for Development - ICT4D</a></li>
          </ul>
        </li>
        <li>
          <a>Events</a>
          <ul>
            <li><a>Youth Congress on Information Technology - Y4iT</a></li>
            <li><a>Y4iT Research Summit - YRS</a></li>
            <li><a>SYNC UP</a></li>
          </ul>
        </li>
        <!--li>
          <a>About</a>
          <ul>
            <li><a>Contact</a></li>
          </ul>
        </li-->
      </ul>
    </div>

    <div class="col-lg-6">
      <img>
      <span>UP System Information Technology Foundation, Inc.</span>
      <span>3/F Vidal Tan Hall, Quirino Ave. cor. Velasquez St., University of
        the Philippines Diliman, 1110 Quezon City</span>
      <span>info@upsitf.org</span>
      <span>Landline No. 123-4567/234-5678</span>
      <span>Fax No. 123-4567</span>
      <span>Mobile No. 0912-345-6789</span>
      <ul>
        <li><a href="{{ site.urlFacebook }}"></a></li>
        <li><a href="{{ site.urlTwitter }}"></a></li>
      </ul>
    </div>

  </div></div>

  <div class="container-fluid"><div class="row"><div class="col-lg-12">
    <span>&copy; 2016 UP System Information Technology Foundation, Inc. All the
      contents on this site are protected by copyright law.</span>
  </div></div></div>

</footer>
