<footer>

  <div class="container-fluid"><div class="row">

    <div class="col-lg-6">
      <ul>
        <li><a>Home</a></li>
        <li><a>Blog</a></li>
        <li>
          <a>Short Courses</a>
          <ul>
            <li><a>Schedules &amp; Rates</a></li>
            <li><a>Course Offerings</a></li>
            <li><a>Registration</a></li>
          </ul>
        </li>
        <li>
          <a>Services</a>
          <ul>
            <li><a>Corporate Customized Training - CCT</a></li>
            <li><a>Consultations &amp; Other Services</a></li>
            <li><a>Tech Boot Camp for Kids + Teens - TBC4K</a></li>
            <li><a>ICT for Development - ICT4D</a></li>
          </ul>
        </li>
        <li>
          <a>Events</a>
          <ul>
            <li><a>Youth Congress on Information Technology - Y4iT</a></li>
            <li><a>Academic Tours</a></li>
          </ul>
        </li>
        <li>
          <a>About</a>
          <ul>
            <li><a>Contact</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="col-lg-6">

    </div>

  </div></div>

  <div class="container-fluid"><div class="row"><div class="col-lg-12">
    <span>&copy; 2016 UP System Information Technology Foundation, Inc. All the contents on this site are protected by copyright law.</span>
  </div></div></div>

</footer>
