<footer>

  <div class="container-fluid footer-main"><div class="row">

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="multicol multicol-lg-3 multicol-md-3 multicol-sm-3">
        <!--div class="multicol-unit"><a>Home</a></div-->
        {% if site.switchBlog == true %}<div class="multicol-unit"><a>Blog</a></div>{% endif %}
        <div class="multicol-unit">
          <a href="{{ site.baseurl }}/courses">Courses</a>
          <ul>
            <li><a href="{{ site.baseurl }}/courses#schedules">Schedules</a></li>
            <li><a href="{{ site.baseurl }}/courses#offerings">Offerings</a></li>
            <li><a href="{{ site.baseurl }}/courses#registration">Registration</a></li>
          </ul>
        </div>
        <div class="multicol-unit">
          <a href="{{ site.baseurl }}/services">Services</a>
          <ul>
            <li><a href="{{ site.baseurl }}/services#cct">Customized Training</a></li>
            <li><a href="{{ site.baseurl }}/services#consultations">Consultations</a></li>
            <li><a href="{{ site.baseurl }}/services#tbc4k">TBC4K</a></li>
            <li><a href="{{ site.baseurl }}/services#ict4d">ICT4D</a></li>
          </ul>
        </div>
        <div class="multicol-unit">
          <a href="{{ site.baseurl }}/events">Events</a>
          <ul>
            <li><a href="{{ site.baseurl }}/events#y4it">Y4iT</a></li>
            <li><a href="{{ site.baseurl }}/events#yrs">YRS</a></li>
            <li><a href="{{ site.baseurl }}/events#syncup">SYNC UP</a></li>
          </ul>
        </div>
        <!--div class="multicol-unit">
          <a>About</a>
          <ul>
            <li><a>Contact</a></li>
          </ul>
        </a></div-->
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"">
      <img src="{{ site.baseurl }}/images/logo_sitf-white-header.png">
      <span>UP System Information Technology Foundation, Inc.</span>
      <span>3/F Vidal Tan Hall, Quirino Ave. cor. Velasquez St.,<br class="hidden-xs"/> University of
        the Philippines Diliman, 1110 Quezon City</span>
      <span>info@upsitf.org</span>
      <span>Landline No. 123-4567/234-5678</span>
      <span>Fax No. 123-4567</span>
      <span>Mobile No. 0912-345-6789</span>
      <!--ul>
        <li><a href="{{ site.urlFacebook }}"></a></li>
        <li><a href="{{ site.urlTwitter }}"></a></li>
      </ul-->
    </div>

  </div></div>

  <div class="container-fluid footer-legal text-center"><div class="row"><div class="col-lg-12">
    <span>&copy; 2017 UP System Information Technology Foundation, Inc. All the
      contents on this site are protected by copyright law.</span>
  </div></div></div>

</footer>
