<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">
        <img alt="Brand">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">

        {% if site.switchBlog == true %}<li><a href="#">Blog</a></li>{% endif %}

        {% if site.headerDropdown == true %}
        <li class="dropdown">
          <a href="{{ site.baseurl }}/shortcourses" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Short Courses<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Schedules &amp; Rates</a></li>
            <li><a href="#">Course Offerings</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Registration</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="{{ site.baseurl }}/services" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">CCT (Corporate)</a></li>
            <li><a href="#">Consultations</a></li>
            <li><a href="#">TBC4K (Kids &amp; Teens)</a></li>
            <li><a href="#">ICT4D (Academe)</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="{{ site.baseurl }}/events" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Y4iT</a></li>
            <li><a href="#">Academic Tours</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="{{ site.baseurl }}/about" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Short Courses<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Contact</a></li>
          </ul>
        </li>
        {% else %}
        <li><a href="{{ site.baseurl }}/shortcourses">Short Courses</a></li>
        <li><a href="{{ site.baseurl }}/services">Services</a></li>
        <li><a href="{{ site.baseurl }}/events">Events</a></li>
        <li><a href="{{ site.baseurl }}/about">About</a></li>
        {% endif %}

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
