<nav class="navbar navbar-default navbar-fixed-custom">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/images/logo_sitf-white-header.png" style="" alt="UPSITF">
        <span class="hidden-sm hidden-xs">UP System Information Technology Foundation</span>
        <!--span class="visible-sm hidden-xs">UPSITF</span-->
        <!--span class="visible-xs">UPSITF</span-->
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">

        {% if site.switchBlog == true %}<li><a href="#"><div>Blog</div></a></li>{% endif %}

        {% if site.headerDropdown == true %}
        <li class="dropdown">
          <a href="{{ site.baseurl }}/courses" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Courses<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Schedules &amp; Rates</a></li>
            <li><a href="#">Course Offerings</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Registration</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="{{ site.baseurl }}/services" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">CCT (Corporate)</a></li>
            <li><a href="#">Consultations</a></li>
            <li><a href="#">TBC4K (Kids &amp; Teens)</a></li>
            <li><a href="#">ICT4D (Academe)</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="{{ site.baseurl }}/events" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Y4iT</a></li>
            <li><a href="#">YRS</a></li>
            <li><a href="#">SYNC UP</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="{{ site.baseurl }}/about" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Short Courses<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Contact</a></li>
          </ul>
        </li>
        {% else %}
        <li><a href="{{ site.baseurl }}/courses"><div>Courses</div></a></li>
        <li><a href="{{ site.baseurl }}/services"><div>Services</div></a></li>
        <li><a href="{{ site.baseurl }}/events"><div>Events</div></a></li>
        <li><a href="{{ site.baseurl }}/about"><div>About</div></a></li>
        {% endif %}

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
