{% assign found = false %}
{% for eachcategory in page.dataCourseOfferings %}{% for eachitemincategory in eachcategory.list %}{% if eachitemincategory.id == eachitem.id %}

<div class="div-trainings-main-unit multicol-unit">
  <div class="div-trainings-main-unit-content div-trainings-main-unit-content-image text-center">
    {% if page.switchFillers == true %}
    <div class="filler"></div>
    {% else %}
    <img src="{{ site.baseurl }}/images/icons/min/{% if eachitemincategory.icon == "" %}art_icon-filler-full.png{% else %}{{ eachitemincategory.icon }}{% endif %}">
    {% endif %}
    {% if eachitemincategory.file and eachitemincategory.file != "" %}<a href="{{ site.baseurl }}/files/syllabus/{{ eachcategory.id }}/{{ eachitemincategory.file }}" target="_blank">View Syllabus</a>{% endif %}
    <a href="{{ site.urlRegForm }}" target="_blank" class="btn btn-default btn-register">Register</a>
  </div>
  <div class="div-trainings-main-unit-content div-trainings-main-unit-content-text">

    {% if eachitemincategory.name %}<h4>{{ eachitemincategory.name }}{% if eachcategory.name %}<small>{{ eachcategory.name }}</small>{% endif %}</h4>{% endif %}

    <span class="span-dates">
      {% if eachitem.dateStart or eachitem.dateEnd %}
      {% if eachitem.dateStart %}{{ eachitem.dateStart }}{% else %}TBA{% endif %}
      {% if eachitem.dateEnd %}to {{ eachitem.dateEnd }}{% else %}TBA{% endif %}
      {% if eachitem.status %}<span class="span-dates-status">{{ eachitem.status }}</span>{% endif %}
      {% else %}
      Dates TBA
      {% endif %}

      {% if eachitem.days or eachitem.day or eachitem.timeStart or eachitem.timeEnd %}
      <span class="span-dates-details">
        {% if eachitem.days %}{{ eachitem.days }} day/s {% endif %}
        {% if eachitem.day %}{% if eachitem.days %}- e{% else %}E{% endif %}very {{ eachitem.day }}{% endif %}
        {% if eachitem.timeStart or eachitem.timeEnd %}
        {% if eachitem.days or eachitem.day %}|{% endif %}
        {% if eachitem.timeStart %}{{ eachitem.timeStart }}{% else %}TBA{% endif %}
        {% if eachitem.timeEnd %}- {{ eachitem.timeEnd }}{% else %}TBA{% endif %}
        {% else %}
        Time TBA
        {% endif %}
      </span>
      {% endif %}

    </span>

    

    {% if eachitem.rateRegular %}<span class="span-rate span-rate-regular"><span>Regular Rate</span> - &#x20B1; {{ eachitem.rateRegular }}</span>{% endif %}
    {% if eachitem.rateEarly or eachitem.rateEarlyAcadGov or eachitem.rateEarlyIndusCorpo %}
    <span class="span-rate span-rate-earlybird">
      <span>Early Bird Rate</span>
      <ul>
        <li>Academic/Government - &#x20B1; {{ eachitem.rateEarlyAcadGov }}</li>
        <li>Industry/Corporate - &#x20B1; {{ eachitem.rateEarlyIndusCorpo }}</li>
      </ul>
    </span>
    {% endif %}
  </div>
</div>

{% assign found = true %}{% break %}{% endif %}{% endfor %}{% if found == true %}{% break %}{% endif %}{% endfor %}
